# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.DS_Store
.env


# Ignore environment configuration files


# Ignore database files
*.db

# Ignore logs
logs/

# Ignore IntelliJ IDEA project files
.idea/

# Ignore Eclipse project files
.project
.classpath
.settings/

# Ignore Maven target directory
target/

# Ignore build output directories
bin/
build/
.idea/discord.xml
.DS_Store
src/main/resources/application.properties
